/* css良くわかっていないので雑な感じです */

body {
    padding-top: 0px !important;
}

.search-input-area {
    padding-top: 0px !important;
    margin: 0 !important;
    text-align: left !important;
    border: 0px !important;
    box-shadow: 0 0 0 0 !important;
    background-image: inherit !important;
}

.search-form {
    align-self: auto !important;
    width: auto !important;
}

#page_cover {
    width: auto !important;
    margin: 0 !important;
    padding: 0 5px !important;
}

#option_area {
    padding: 0 !important;
}

.search-option-toggle-button-area {
    position: relative !important;
    margin-left: auto !important;
}

.thumbnail-area {
    width: 200px !important;
    height: auto !important;
}

.search-result-summary {
    width: 100% !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 0 10px !important;
    text-align: left !important;
    align-self: auto !important;
}

.description-area {
    max-height: inherit !important;
}

.program-statistics-list {
    margin-top: 0px !important;
}

.provider-area {
    position: initial !important;
}

#siteHeader,
header,
.search-tab-list,
.select-mode-area,
.broadcast-time-filter-area,
.timeshift-button-label,
.help-anchor,
#side-for-following-ad,
#footer_ads,
#sidewall_ad,
.notice-message,
.program-status,
nav,
footer,
.recommend-list-header + .result-list,
.recommend-list-header {
    display: none !important;
}
