body {
    overflow-x: hidden !important;
    zoom: 85% !important;
    text-shadow: 0px 0px 0px !important;
}

.search-input-area {
    padding-top: 0px !important;
    margin: 0 !important;
    border: 0px !important;
    background-image: inherit !important;
}

.searchPage-ProgramList_ThumbnailLink {
    -ms-flex: 0 0 100px !important;
    flex: 0 0 100px !important;
    width: 100px !important;
    height: 60px !important;
}

.searchPage-ProgramList_TitleLink {
    color: #0080ff !important;
}

#page_cover {
    width: auto !important;
    margin: 0 !important;
    padding: 0 5px !important;
}

#searchForm,
.tag_suggest_input_block,
#search_form_word {
    width: 100% !important;
}


#CommonHeader,
#page_header,
#billboard_ad,
#side-for-following-ad,
#main-for-following-ad > .searchPage-Layout_Section:nth-child(2),
#main-for-following-ad > .searchPage-Layout_Section:nth-child(3),
#footer_ads,
#live-footer,
.search-tab-list,
.searchPage-SearchHeader,
.searchPage-ProgramList_StatusLabel-live,
.searchPage-ProgramList_TimeShift,
.searchPage-SearchFilter_Sort {
    display: none !important;
}